:root {
    --primary-backgroung-white: #FFFFFF;
    --primary-title-textcolor: #212121;
    --accent-color: #2196F3;
    --text-color: #757575; 
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--text-color);
    background-color: var(--primary-backgroung-white);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;
    margin: 0;
}

.logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
}
.accent {
    color: var(--accent-color);
}
/* Navigation */
.site-nav {
    color: var(--primary-title-textcolor);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;

    text-decoration: none;
}
.link {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;

    text-decoration: none;
}
.site-nav:hover, 
.link:hover
 {
    color: var(--accent-color);
}
.site-nav:focus,
.link:focus {
    color: var(--accent-color);
}
.list {
    list-style: none;
}
/* Main */
/*hero*/
.hero-space {
    background-color: #2F303A;
}
.hero {
    color: var(--primary-backgroung-white);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
}
.hero-button {
    color: var(--primary-backgroung-white);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
}
/*Our advanteges*/
.h-two {
    color: var(--primary-title-textcolor);
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
}
.h-three {
    color: var(--primary-title-textcolor);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: left;
}
.adv-text {
    font-size: 14px;
    line-height: 1.7;
    
}
/*Our work*/
/*Our team*/
.our-team {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
}
.job {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/*Portfolio*/
/*Portfolio-Buttons*/
.filter-button {
    color: var(--primary-title-textcolor);
    background-color: #F5F4FA;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
    color: var(--primary-backgroung-white);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/*Portfolio-list*/
.portfolio-list {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-link {
   text-decoration: none; 
}
.portfolio-text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.87px;
    text-align: left;
}

/* Footer */
footer {
    background-color:#2F303A;
}
.foot-logo {
    color: var(--primary-backgroung-white);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    text-align: left;

    text-decoration: none;
}
.foot-address {
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    line-height: 1.7;
    text-align: left;
    text-decoration: none;
}
.foot-place {
    color: var(--primary-backgroung-white);
}